.zen-manager {
    padding-top: 5rem;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #fff;
    justify-content: center;
}
.title {
    width: 100%;
    justify-content: center;
    display: flex;
}
.settings {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    width: 100%;
}

.setting {
    padding: 10px 20px;
}
.enabled {
    font-size: 32px;
    font-weight: bold;
    width: 100%;
    justify-content: center;
    display: flex;
}
.time {
    font-size: 100px;
    font-weight: bold;
    width: 100%;
    justify-content: center;
    display: flex;
}
button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: black;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

button:hover {
    background-color: #0056b3;
}